# Environment variables
.env
.env.local

# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
lerna-debug.*
.pnpm-debug.log*

# Local env files
.env*.local
.env*
.env.local_copy-with-first-key
.env.local_copy-with-second-key
!.env.example

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Firebase
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*
functions/lib/

# Testing
coverage/

# Build artifacts
build/
